.divGaucheMenu{
    width: 300px;
    height: 100%;
}
.divMenuDroite{
    width: 800px;
    height: 100%;
}
.menu{
    width: 50px;
    height: 50px;
    background: url("../ico/three-dots-vertical.svg") no-repeat left;
}
.logo{
    width: 50px;
    height: 50px;
    background: url("../ico/bootstrap.svg") no-repeat center;
}
.boutons{
    width: 500px;
    height: 100%;
    border: white solid 1px;
}
#camera{
    background: url("../ico/camera-video.svg") no-repeat center;
}
#app{
    background: url("../ico/grid.svg") no-repeat center;
}
#notif{
    background: url("../ico/bell.svg") no-repeat center;
}
#profil{
    border-radius: 25px;
    background: gray url("../ico/person.svg") no-repeat center;
}

.myBouton{
    width: 50px;
    height: 50px;
}
